<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
  <Properties>
    <Property name="path">logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console-Appender" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
        >
      </PatternLayout>
    </Console>
    <File name="App-Appender" fileName="${path}/app_log.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
    <File name="Login-Appender" fileName="${path}/Login.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
    <File name="Clientes-Appender" fileName="${path}/Clientes.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
    <File name="Produtos-Appender" fileName="${path}/Produtos.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
    <File name="Ventas-Appender" fileName="${path}/Ventas.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
    <File name="SpringBoot-Appender" fileName="${path}/springboot_log.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.springframework.web" level="all" additivity="false">
      <AppenderRef ref="SpringBoot-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="co.prueba.app.model.dto" level="debug"
      additivity="false">
      <AppenderRef ref="App-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="co.prueba.app.controller.LoginController" level="debug"
      additivity="false">
      <AppenderRef ref="Login-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="co.prueba.app.controller.ClienteController" level="debug"
      additivity="false">
      <AppenderRef ref="Clientes-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="co.prueba.app.controller.ProductoController" level="debug"
      additivity="false">
      <AppenderRef ref="Produtos-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="co.prueba.app.controller.VentaController" level="debug"
      additivity="false">
      <AppenderRef ref="Ventas-Appender" />
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Root>
      <AppenderRef ref="Console-Appender" />
    </Root>
  </Loggers>
</Configuration>